@tailwind base;
@tailwind components;
@tailwind utilities;

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rebeccapurple;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #111827;
  box-shadow: -2px 0px 4px 0px #9ca3af;
}

@media (max-width: 576px) {
  .maa {
    margin-top: 5px;
    width: 100%;
  }
}
